body {
    height: 2000px;
}

div {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: white;
    /* position: relative;  */
}

div:nth-child(1) {
    background-color: red;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

div:nth-child(2) {
    background-color: rgb(9, 245, 9);
    z-index: 2;
    margin-top: 100px; /* Added value for margin-top */
}

div:nth-child(3) {
    background-color: blue;
    z-index: 3;
}

