body{
   margin: 20px;
}

h1 {
   color: aqua;
   background-color: black;
   margin: 0;
   padding: 4px;
   padding-left: 16px;
 }

 header{
   background-color: rgb(45, 248, 19);
   /* padding: 2px; */
   margin-bottom: 15px;
 }

 #section1{
   width: 100%;
   background-color: blueviolet;
   color: white;
   height: 200px;
   border: 3px solid red;
 }

 #section1 h4{
   color: aqua;
 }


 /* multiple selector */
 h2,h3,h4{
   color: yellow;
 }

 #para{
   padding: 2px;
   color: rgb(28, 234, 28);
 }

 .common{
   padding: 15px;
   background-color: aqua;
   color: black;
 }