body {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding-top: 200px;
}
h1 {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #343434;
  width: auto;
  height: auto;
  color: white;
  padding: 12px;
  border-radius: 7px;
  overflow: hidden;
}

#screen {
  background-color: #a5d5e4;
  padding: 8px;
  border-radius: 5px;
  font-size: 2rem;
  width: auto;
  height: 50px;
  color: black;
  text-align: end;
}

.rows {
  margin-top: 20px;
  width: auto;
  /* background-color: blanchedalmond; */
  /* justify-content: space-evenly; */
  /* gap: 5px; */
}
input[type="button"] {
  padding: 16px 24px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
  gap: 12px;
  width: 100px;
  height: 70px;
}

.num {
  background-color: #4d4d4d;
  color: white;
}
.num:hover {
  border: 2px solid rgb(171, 246, 10);
}
.oper {
  background-color: #83857f;
  color: white;
}
.oper:hover {
  border: 2px solid rgb(171, 246, 10);
}
.clear {
  background-color: red;
  color: white;
  /* background-color: #4d4d4d; */
}
.clear:hover {
  border: 2px solid rgb(171, 246, 10);
}
