body {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding-top: 200px;
}
h1 {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: black;
  width: auto;
  height: auto;
  color: white;
  padding: 8px;
  border-radius: 5px;
  overflow: hidden;
}

.container>input{
    width: 90%;
}

.screen {
  background-color: aqua;
  padding: 8px;
  border-radius: 5px;
}

.rows {
  margin-top: 20px;
  /* background-color: blanchedalmond; */
  justify-content: space-evenly;
  /* gap: 5px; */
}

.num {
  padding: 10px 17px;
  border-radius: 5px;
}
.oper {
  padding: 10px 17px;
  border-radius: 5px;
}
.clear {
  padding: 10px 17px;
  background-color: red;
  color: white;
  border-radius: 5px;
}
